:root {
    --text-color-body:  white;
    --text-color-body-inverse: black;
    --contenedor-color: #E8D5C2;
    --cuadritos-contenedor: #E8BE4D;
    --icono-footer: white;
    --color-rutath: #150E0C;
    --color-hover: orange;
    font-size: 16px;
}
.nav-fijo{
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    z-index: +2;
}
/*-----------Portada---------*/
header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/imagenes/inicio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
  }
*{
    font-family: 'Roboto Condensed', sans-serif !important;
}
.tamanio1 {
    font-size: 5rem !important;
}
.tamanio2 {
    font-size: 2.5rem !important;
}
.letra-color {
    color: var(--color-rutath) !important;
}
.border-inicio{
    border: none;
}
.puntero-inicio:hover{
    border-color: var(--text-color-body);
    background-color: transparent !important;
    color: var(--text-color-body) !important;
}
body {
    background-color: var(--color-rutath) !important;
}
.textColor {
    color: var(--text-color-body);
}
.dimension {
    text-align: center;
    font-weight: 350;
    padding: 0.93rem;
}
/*---Tarjetas del body-----*/
.color-contenedor{
    background-color: var(--contenedor-color) !important;
}
/*-----------hover------------*/
.puntero:hover {
    color: var(--color-hover) !important;
}
/*---------------------------------Contenedores que mostraran el listado de las rutas---------------------------------*/
.containerall{
    padding: 2.5rem 0;
}
.titulo h1{
    margin: 1.2rem 0;
    border-bottom: 0.2rem dashed rgba(255, 255, 255, .8);
}
.card {
    text-align: center !important;
    background-color: var(--cuadritos-contenedor) !important;
}
.card img {
    width: 5rem;
    margin-top: 1.87rem;
}
.listas-rutas {
    padding: 3.12rem 0;
}
.opciones-rutas {
    max-width: 65% !important;
    text-align: center;
    margin-top: 1.25rem;
    margin-left: 28% !important;
}
.lisRutas {
    overflow-y: scroll;
    font-size: 1.5rem;
    max-height: 17.5rem;
}
.listas-rutas select{
    background-color:var(--color-rutath);
    color: var(--text-color-body);
    border: none;
}
.opciones-rutas option{
    color: var(--text-color-body);
}
.icon-lis a{
    text-decoration: none;
    color: var(--color-rutath);
}
.puntero-rutas a:hover {
    color: var(--text-color-body);
}
.lupa{
    text-decoration: none;
    color: var(--text-color-body);
}
.buscador-rutas{
    margin-top: 1.25rem;
    background-color: var(--color-rutath) !important;
    border: none;
    border-radius: 0.43rem;
    width: 3.12rem;
    height: 2.18rem;
}
.card-body h1{
    font-size: 1.56rem;
    font-weight: 400; /*Remarcado de la letra*/
    color: var(--text-color-body-inverse);
}
/*Boton scrolly que va pa' arriba*/
.subir2 {
    display: inline-block;
    color: var(--color-rutath);
    background-color: var(--var(--contenedor-color));
    padding: 0rem 0.37rem;
    border: none;
    border-radius: 3.12rem;
    font-size:1.57rem;
    cursor: pointer;
    position: fixed;
    bottom: 1.87rem;
    right: 1.25rem;
}
.subir2:hover {
    color: var(--text-color-body);
    background-color: var(--color-hover);
}
/*---------------------------------Contenedores footer del pie de página---------------------------------*/
.footer {
    padding: 1.87rem 0;
}
.rayitas{
    border-top: 0.2rem dashed rgba(255, 255, 255, .8);
    margin: 0rem 5rem;
}
.leyenda {
    font-size: 1.56rem;
    font-weight: 350; /*Remarcado de la letra*/
    text-align: center;
    padding: 0.93rem 0;
}
.icon-footer {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 350; /*Remarcado de la letra*/
    
}
.icon-footer a{
    text-decoration: none;
    padding: 0.19rem 0.62rem; /*Separacion de las redes sociales*/
    color: var(--icono-footer) !important;
}
.logo-footer {
    text-align: center;
}
@media (max-width: 930px) {
    .tamanio1 {
        font-size: 50px !important;
    }
    .tamanio2 {
        font-size: 30px !important;
    }
    /*--------contenedor1 busqueda--------*/
    .opciones-rutas{
        font-size: 0.8rem !important;
        max-width: 100%;
    }
    .card img{
        width: 4rem;
    }
    .rayitas{
        border-top: 0.2rem dashed rgba(255, 255, 255, .8);
        margin: 0rem 1rem;
    }
}
