:root {
    --text-color-body:  white;
    --text-color-body-inverse: black;
    --contenedor-color: #E8D5C2;
    --cuadritos-contenedor: #E8BE4D;
    --color-rutath: #150E0C;
    --color-hover: orange;
    --color-btn: rgb(40, 214, 205);
    font-size: 16px;
}
*{
    font-family: 'Roboto Condensed', sans-serif !important;
}
body {
    background-color: var(--color-rutath) !important;
    padding-top: 6.25rem;
}
.nav-fijo{
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    z-index: +2;
}
.puntero:hover {
    color: var(--color-hover) !important;
}
.nav-puntero:hover{
    color: var(--color-rutath) !important;
}
/*Boton scrolly que va pa' arriba*/
.subir2 {
    display: inline-block;
    color: var(--color-rutath);
    background-color: var(--var(--contenedor-color));
    padding: 0rem 0.37rem;
    border: none;
    border-radius: 3.12rem;
    font-size:1.57rem;
    cursor: pointer;
    position: fixed;
    bottom: 1.87rem;
    right: 1.25rem;
}
.subir2:hover {
    color: var(--text-color-body);
    background-color: var(--color-hover);
}
/*---------------------------------Contenedores que mostraran el listado de las rutas---------------------------------*/
.fondo {
    background-color: transparent !important;
}
.container img{
    margin-top: 45%;
    width: 100%;
}
.text1{
    text-align: center;
    color: var(--text-color-body);
    font-size: 2.5rem;
    font-weight: 300;
    margin-top: 1.87rem;
}
.form-group2{
    color: var(--text-color-body);
    height: 6.25rem;
    width: 40% !important;
}
.form-group{
    color: var(--text-color-body);
    height: 6.25rem;
    width: 100% !important;
    padding: 0 0.7rem;
}
.form-control{
    background-color: #E8D5C2 !important;
}
.form-control2{
    color: var(--text-color-body);
    background-color: transparent;
    border-color: #E8D5C2;
    width: 100%;
}
.uno{
    color: #E8BE4D;
}
.container2{
    padding: 3rem 0;
}
.container2 button{
    background-color: #6CC071;
    margin: 1.2rem 0;
    margin-left: 50%;
    border:none;
    color: #E8D5C2;
}
button:hover{
    background-color: #E8BE4D !important;
}
.container2 h2{
    color: #E8BE4D;
}
.lisComents {
    overflow-y: scroll;
    font-size: 1.5rem;
    max-height: 17.5rem;
    background-color: transparent;
    margin-top: 2rem;
}
.comentarios{
    color: white;
    font-size:1.1rem;
}
/*---------------------------------Contenedores footer del pie de página---------------------------------*/
.textColor {
    color: var(--text-color-body);
}
.rayitas{
    border-top: 0.2rem dashed rgba(255, 255, 255, .8);
    margin: 0rem 5rem;
}
.footer {
    padding: 1.87rem 0;
}
.leyenda {
    font-size: 1.56rem;
    font-weight: 350; /*Remarcado de la letra*/
    text-align: center;
    padding: 0.93rem 0;
}
.icon-footer {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 350; /*Remarcado de la letra*/
}
.icon-footer a{
    text-decoration: none;
    padding: 0.19rem 0.63rem;
    color: var(--text-color-body) !important;
}
.logo-footer {
    text-align: center;
}
@media (max-width: 990px) {
    .container img{
        display: none !important;
    }
    .form-group2{
        width: 60% !important;
    }
    .text1 {
        margin-top: 0px !important;
    }
    .rayitas{
        border-top: 0.2rem dashed rgba(255, 255, 255, .8);
        margin: 0rem 1rem;
    }
    .container2 button{
        margin-left: 46%;
    }
}